# Arquivos proprios do projeto a serem ignorados
.env
/data

# Arquivos padrões do fastapi para serem ignorados
.tox
.pytest_cache

.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
